body{margin: 0;}
html
{
	height: 1800px;
}
input {
	border-style:none;
	border-bottom-style:solid;
	border-bottom-width:thin;
	border-bottom-color:black;
	background-color: transparent;
}
input::-webkit-input-placeholder {
    font-size: 30px;
}
input:-moz-placeholder {
    font-size: 30px;
}
input:-ms-input-placeholder {
    font-size: 30px;
}
.swiper-button-prev{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l4.2%2C4.2L8.4%2C22l17.8%2C17.8L22%2C44L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
    width: 12%;
    height: 6%;
}
.swiper-button-next{
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L5%2C44l-4.2-4.2L18.6%2C22L0.8%2C4.2L5%2C0z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
	width: 9%;
    height: 6%;
}
.intro
{
	background-color: transparent;
	border:none;
	font-size: 25px;
	line-height:28px;
	overflow:auto;
	text-decoration:underline;
}
select
{
    border: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url('../img/down.png') 230px center no-repeat;
    background-size: 20px;
}
.sel
{
	border-style:none;
	border-bottom-style:solid;
	border-bottom-width:thin;
	border-bottom-color:black;
	background-color: transparent;
}
.sel1
{
	border-style:none;
	border-bottom-style:solid;
	border-bottom-width:thin;
	border-bottom-color:black;
	background-color: transparent;
}
.sel2
{
	border-style:none;
	border-bottom-style:solid;
	border-bottom-width:thin;
	border-bottom-color:black;
	background-color: transparent;
}
.left
{
	float: left;
	padding-left: 100px;
}
.right
{
	float: left;
}
.right button
{
	margin-bottom: 100px;
}
form
{
	width:700px;
	margin-left:auto;
	margin-right: auto;
	color: #555;
}
.bg0
{
	background-image: url(../img/bg1.png);
	background-repeat: round;
	background-size: 100%;
	height: 2000px;
	width: 100%;
}
.bg1
{
	background-image: url(../img/bg2.png);
	background-repeat: round;
	-webkit-background-size: 100%;
	background-size: 100%;
	height: 2700px;
	width: 100%;
}
.bg12
{
	background-image: url(../img/bg2.png);
	background-repeat: round;
	height: 2500px;
	width: 100%;
}
.bg3
{
	background-image: url(../img/intro.png);
	background-repeat: round;
	-webkit-background-size: 100%;
	background-size: 100%;
	height: 3000px;
	width: 100%;
}
.bg4
{
	background-image: url(../img/bg4.png);
	background-repeat: round;
	-webkit-background-size: 100%;
	background-size: 100%;
	height: 2000px;
	width: 100%;
}
.bg5
{
	background-image: url(../img/searchbg.png);
	background-repeat: round;
	-webkit-background-size: 100%;
	background-size: 100%;
	height: 2000px;
	width: 100%;
}
.finall
	{
		background-image: url(../img/final.png);
		background-repeat: round;
		-webkit-background-size: 100%;
		background-size: 100%;
		height: 1800px;
		width: 100%;
	}
.finalbg
	{
		background-image: url(../img/finalbg.png);
		background-repeat: round;
		-webkit-background-size: 100%;
		background-size: 100%;
		height: 1800px;
		width: 100%;
	}
.resultbg
	{
		background-image: url(../img/result.png);
		background-repeat: round;
		-webkit-background-size: 100%;
		background-size: 100%;
		height: 4500px;
		width: 1650px;
	}
.swiper-container {
    width: 700px;
    height: 1350px;
}

.title
	{ 	text-align: center;
		font-size: 135px;
		padding-top: 135px;
		font-weight: 350;
		margin-top: 0px;
	}
.title1
	{
		text-align: center;
		font-size: 85px;
		margin-top: 135px;
		font-weight: 400;
		padding-top: 100px;
		margin-top: 0px;
	}
.title2
	{
		text-align: center;
		font-size: 135px;
		padding-top: 350px;
		font-weight: 400;
		margin-bottom: 100px;
		margin-top: 0;
	}
.sectitle1
	{
		text-align: center;
		font-size: 85px;
		margin-top: 250px;
		font-weight: 400;
		margin-bottom: 100px;
	}
.header
	{
		width: 100%;
		height: 400px;
	}
.main
{
	margin-bottom: 150px;
}
.sectitle
	{
		text-align: center;
		font-size: 50px;
		margin-top: 80px;
		font-weight: 500;
	}
.text
	{
		text-align: center;
		font-size: 45px;
		margin-top: 80px;
		font-weight: 350;
		font-color:#1E2A36;
	}
.button
	{
		width:460px;
   		height:120px;
		background: url(../img/bta.png);
    	color:white;
    	font-size: 50px;
    	border-radius: 4px;
    	border: none;
    	display:block;
    	margin:0 auto;
    	margin-top:65px;
    	padding-bottom: 5px;
    	margin-bottom: 40px;
    	font-weight: 100;
	}
.button00
	{
		width:355px;
   		height:120px;
		background: url(../img/bt11.png);
    	color:#055253;
    	font-size: 50px;
    	border-radius: 4px;
    	border: none;
    	display:block;
    	margin:0 auto;
    	margin-top:65px;
    	padding-bottom: 5px;
    	margin-bottom: 40px;
    	font-weight: 100;
	}
.button0
	{
		width:460px;
   		height:120px;
		background: url(../img/btac.png);
    	color:#055253;
    	font-size: 50px;
    	border-radius: 4px;
    	border: none;
    	display:block;
    	margin:0 auto;
    	margin-top:65px;
    	padding-bottom: 5px;
    	margin-bottom: 40px;
    	font-weight: 100;
	}

.button1
	{
		width:465px;
   		height:120px;
		background: url(../img/bta.png);
    	color:white;
    	font-size: 50px;
    	display:block;
    	margin:0 auto;
    	margin-top:65px;
    	padding-bottom: 5px;
    	border: none;
    	font-weight: 100;
	}
.button10
	{
		width:465px;
   		height:120px;
		background: url(../img/btac.png);
    	color:#055253;
    	font-size: 50px;
    	display:block;
    	margin:0 auto;
    	margin-top:65px;
    	padding-bottom: 5px;
    	border: none;
    	font-weight: 100;
	}
.button2
	{
		width:460px;
   		height:120px;
		background: url(../img/bta.png);
    	color:white;
    	font-size: 50px;
    	border-radius: 4px;
    	border: none;
    	display:block;
    	margin:0 auto;
    	margin-top:65px;
    	padding-bottom: 5px;
    	margin-bottom: 40px;
    	font-weight: 100;
	}
.button20
	{
		width:460px;
   		height:120px;
		background: url(../img/btac.png);
    	color:#055253;
    	font-size: 50px;
    	border-radius: 4px;
    	border: none;
    	display:block;
    	margin:0 auto;
    	margin-top:65px;
    	padding-bottom: 5px;
    	margin-bottom: 40px;
    	font-weight: 100;
	}
.li
	{
		margin-top: 50px;
	}
.bi
	{
		margin-top: 50px;
		float: left;
		width: 100%;
		margin-left: 150px;
		height: 200px;
		margin-bottom: 100px;
	}
.word
	{
		font-size: 45px;
		font-weight: 350;
		margin-right: 0px;
		white-space: nowrap;
		float: left;
		margin-right: 10px;
	}
.ki
	{
		width: 30px;
		height: 30px;
		margin-top: 65px;
		margin-left: 120px;
		white-space: nowrap;
	}
.sex
	{
		font-size: 30px;
		color: black;
	}
.grade
	{
		font-size: 30px;
		color: black;
	}
.hi
	{
		width: 30px;
		height: 30px;
		margin-top: 65px;
		margin-left: 120px;
		white-space: nowrap;
	}
select 
	{
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
	}
.sel
	{
		width: 250px;
		height: 50px;
		margin-top: 50px;
		margin-left: 185px;
		font-size: 30px;
	}
.adjust
	{
		font-size: 30px;
		color: black;
	}
.right
	{
		margin-left: 100px;
		margin-top: 380px;
	}
.ji1
	{
		width: 250px;
		height: 50px;
		margin-top: 50px;
		margin-left: 100px;
		white-space: nowrap;
	}
.sel1
	{
		width: 250px;
		height: 50px;
		margin-top: 50px;
		margin-left: 100px;
		font-size: 30px;
	}
.ki1
	{
		width: 30px;
		height: 30px;
		margin-top: 65px;
		margin-left: 80px;
		white-space: nowrap;
	}
.sel2
	{
		width: 250px;
		height: 50px;
		margin-top: 50px;
		margin-left: 45px;
		font-size: 30px;
	}
.intro
	{
		margin-top: 50px;
		margin-left: 85px;
		border: none;
		width: 350px;
		height: 200px;
	}
.search
	{
		margin-top: 400px;
		text-align: center;
		vertical-align: middle;
	}
.search1
	{
		width: 600px;
		height: 130px;
		font-size: 85px;
	}
.search11
	{
		margin-top: 860px;
		margin-left: 480px;
		font-size: 85px;
	}
.ji
	{
		width: 250px;
		height: 50px;
		margin-top: 200px;
		margin-left: 185px;
		white-space: nowrap;
	}