body{margin: 0;}
html{background-color: #E8E8E8;}
input{border: none;}
.title
	{ 	text-align: center;
		font-size: 135px;
		margin-top: 135px;
		font-weight: 350;
	}
.title1
	{
		text-align: center;
		font-size: 85px;
		margin-top: 135px;
		font-weight: 400;
		margin-bottom: 100px;
	}
.header
	{
		width: 100%;
	}
.sectitle
	{
		text-align: center;
		font-size: 50px;
		margin-top: 80px;
		font-weight: 500;
	}
.text
	{
		text-align: center;
		font-size: 45px;
		margin-top: 80px;
		font-weight: 350;
	}
.button
	{
		width:300px;
   		height:150px;
		background-color: #ffffff;
    	opacity:0.63;
    	color:black;
    	font-size: 50px;
    	border-radius: 4px;
    	border:1px solid;
    	display:block;
    	margin:0 auto;
    	margin-top:65px;
	}
.button1
	{
		width:200px;
   		height:100px;
		background-color: #ffffff;
    	opacity:0.63;
    	color:black;
    	font-size: 50px;
    	border-radius: 4px;
    	border:1px solid;
    	display:block;
    	margin:0 auto;
    	margin-top:65px;
	}
.li
	{
		margin-top: 50px;
		margin-left: 15%;
	}
.word
	{
		font-size: 45px;
		font-weight: 350;
		margin-right: 0px;
		white-space: nowrap;
		float: left;
		margin-right: 10px;
	}
.ji
	{
		width: 250px;
		height: 50px;
		margin-top: 50px;
		margin-left: 185px;
		white-space: nowrap;
	}
.ki
	{
		width: 30px;
		height: 30px;
		margin-top: 65px;
		margin-left: 120px;
		white-space: nowrap;
	}
.sex
	{
		font-size: 50px;
	}
.grade
	{
		font-size: 50px;
	}
.hi
	{
		width: 30px;
		height: 30px;
		margin-top: 65px;
		margin-left: 120px;
		white-space: nowrap;
	}
select 
	{
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
	}
.sel
	{
		width: 250px;
		height: 50px;
		margin-top: 50px;
		margin-left: 185px;
	}
.adjust
	{
		font-size: 50px;
	}
.ji1
	{
		width: 250px;
		height: 50px;
		margin-top: 50px;
		margin-left: 100px;
		white-space: nowrap;
	}
.sel1
	{
		width: 250px;
		height: 50px;
		margin-top: 50px;
		margin-left: 100px;
	}
.ki1
	{
		width: 30px;
		height: 30px;
		margin-top: 65px;
		margin-left: 80px;
		white-space: nowrap;
	}
.sel2
	{
		width: 250px;
		height: 50px;
		margin-top: 50px;
		margin-left: 45px;
	}
.intro
	{
		margin-top: 50px;
		margin-left: 85px;
		border: none;
		width: 350px;
		height: 200px;
	}